@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 205, 225;
  --primary: rgb(87, 0, 173);
  --secondary: rgb(63, 131, 248);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Marquee styles */

.mask {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.marquee__content {
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

/* Pause on hover */
.marquee:hover .marquee__content {
  animation-play-state: paused;
}

/* Marquee styles */

/* article style */

.article-title {
  font-weight: 700;
  font-size: xx-large;
  color: var(--primary);
  text-decoration: underline;
}

.faq-items {
  padding: 10px 0px;
}

.faq-items h3 {
  font-size: x-large;
  color: var(--secondary);
}

.faq-items p {
  padding: 5px 0;
}

.faqlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* article style */

/* map hero section */

.hero-img {
  height: 650px;
  overflow: hidden;
  background-size: cover;
}
.hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* map hero section */

/* Image container */
.blurdataurl {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk4G4vAgABqwEGEzLyIQAAAABJRU5ErkJggg==);
}

/* .bgarttempbg{
  background-image: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
  background-repeat: repeat-y;
} */

/* Image container */
